.single-task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  background-color: rgba(31, 38, 46, 0.3);
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}

.single-task-container.done {
  text-decoration: line-through;
}

.single-task-container>div>button:first-child {
  margin-right: 5px;
}
